<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head> 
    <title>Services</title> 
</head>
<body>
    <div id="content">
        <h1>Welcome to Services page</h1>
        <h2>Services offered by us!!</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Nostrum suscipit temporibus ullam et? Aut, delectus,ipsam corrupti, 
            autem minima fugit doloremque impedit doloribus magnam deserunt alias 
            repellendus ab illum placeat?</p>
    </div>
    <script>
        console.log("Services page");
    </script>
</body>
</html>